@import "../../style/variables.scss";

.b-steps {
  display: flex;
  gap: 20px;

  @media (max-width: 550px) {
    gap: 5px;
  }

  &_item {
    display: flex;
    align-items: center;
    width: calc((100% - 35px)/3 - 20px);

    @media (max-width: 550px) {
      width: max(35px, calc((100% - 35px)/3 - 5px));
    }

    &:last-of-type {
      width: 35px;
    }

    &.is-active {

      .b-steps_number {
        background: var(--main-color);
        color: #ffffff;
        transition: 0.2s 0.2s;
      }

      .b-steps_line::before {
        width: 50%;
        transition: width 0.2s 0.3s ease-out;
      }

      & ~ .b-steps_item .b-steps_number {
        color: var(--light-font);
        background: var(--background-color);
      }

      & ~ .b-steps_item .b-steps_line {
        background: var(--background-color);

        &::before {
          width: 0;
        }
      }
    }
  }

  &_line {
    display: flex;
    width: calc(100% - 55px);
    height: 6px;
    border-radius: 3px;
    margin-left: 20px;
    background: var(--background-color);

    @media (max-width: 550px) {
      margin-left: 5px;
      width: calc(100% - 40px);
    }

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background: var(--main-color);
      border-radius: 3px;
      transition: width 0.2s ease-out;
    }
  }

  &_number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: clamp(13px, 1vw, 16px);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #ffffff;
    background: var(--main-color);
    transition: 0.2s 0.2s;
  }


}